<div ng-controller="PortafolioController" id="portafolio">
    <app-header></app-header>
    <div class="row disabled-text">
        <div class="large-12 medium-12 small-12 title columns">
            <h1>{{ title }}</h1>
        </div>
        <div class="disabled-text portafolio-section" >
            <a href="https://www.ixglobal.com.ve" target="_blank">
              <!--   <div class="large-5 medium-5 small-12 columns thumbnail background-portafolio" id="ixglobal">
                     <span class="inner-content">iXGlbal</span>
                </div>
                <div class="large-5 medium-5 small-12 columns thumbnail">
                    <div class="background-portafolio" id="ixglobal">
                    </div>
                    <span class="inner-content">iXGlbal</span>
                </div>-->
                <div class="large-6 medium-6 small-12 columns" id="ixglobal">
                    <figure class="thumbnail"><img src="../img/ixglobal.jpg"></figure>
                    <figcaption><span class="inner-content"><h2>iXGlobal</h2></span></figcaption>
                </div>
            </a>
            <a href="http://lanboxstore.co.ve" target="_blank">
                <div class="large-6 medium-6 small-12 columns" id="lanbox">
                    <figure class="thumbnail"><img src="../img/lanbox.jpg"></figure>
                    <figcaption><span class="inner-content"><h2>Lanbox</h2></span></figcaption>
                </div>
            </a>
            <a href="http://csdevs1.github.io" target="_blank">
                <div class="large-6 medium-6 small-12 columns" id="my-site">
                    <figure class="thumbnail"><img src="../img/my-website.jpg"></figure>
                    <figcaption><span class="inner-content"><h2>My personal Website</h2></span></figcaption>
                </div>
            </a>
            <a href="http://www.areiro.com" target="_blank">
                <div class="large-6 medium-6 small-12 columns" id="areiro">
                    <figure class="thumbnail"><img src="../img/areiro.jpg"></figure>
                    <figcaption><span class="inner-content"><h2>Areiro</h2></span></figcaption>
                </div>
            </a>
            
        </div>
    </div>
    
    <app-footer></app-footer>
</div>